.field-type-simple-signature .item-list ul.links {
  margin: 0;
}
.field-type-simple-signature .item-list,
.field-type-simple-signature .item-list ul.links,
.field-type-simple-signature .description .item-list,
.field-type-simple-signature .description .item-list ul.inline,
.field-type-simple-signature .description .item-list ul.inline,
.field-type-simple-signature .description .item-list ul.inline li {
  display: inline;
}
.field-type-simple-signature .item-list ul.links li {
  padding: 0;
}
.field-type-simple-signature .item-list ul.links li .simple-signature-unsign:before {
  content: ' ';
}
.field-type-simple-signature .item-list ul.links li:not(:last-child):after {
  content: ' | ';
}
